* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100%;
}

#background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgb(27, 21, 48) 0%, rgb(41, 66, 145) 100%);
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--menu-size) + (var(--menu-margin)) / 2 - 40px);
  position: relative;
  top: calc(var(--menu-size) + (var(--menu-margin)) / 2);
  overflow: hidden;
  z-index: 998;
}

#landing-page {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  padding: 50px;
  z-index: 999;
  height: 100%;
  gap: 40px;
}

#textos-izq {
  display: flex;
  flex-direction: column;
}

.txt {
  opacity: 0;
}

.textos-titulo1 {
  text-align: left;
  font-size: 4vw;
  line-height: 2em;
  color: aliceblue;
  font-weight: 500;
}

.textos-titulo2 {
  font-size: 6vw;
  line-height: 1em;
}

.txt-his {
  background: linear-gradient(90deg, #a23fff, #ff304c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-div {
  background: linear-gradient(90deg, #ff3f5f, #ffac30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-adv {
  background: linear-gradient(90deg, #3ff9ff, #30ff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-exp {
  background: linear-gradient(90deg, #864fdf, #70b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#img-der {
  /* Ancho deseado para el contenedor */ /* Altura deseada para recortar la imagen */
  display: flex;
  justify-content: end;
  overflow: hidden; /* Recorta el contenido que se desborda del contenedor */
}

.img-der-img {
  width: 100%;
  max-width: 500px;
}

.textos-btn {
  margin-top: 15px;
  padding: 15px;
  background-color: #ff304c;
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
}

#social-media {
  display: flex;
  justify-content: center;
  bottom: 0;
  gap: 10px;
  margin: 20px;
}

.sm-btn {
  position: relative;
  color: white;
  /*background-color: white;*/
  border: solid white 3px;
  text-decoration: none;

  height: 60px;
  padding: 15px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.1s;
}

.sm-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
  z-index: -1;
  scale: 0;
}

.sm-btn:hover::before {
  scale: 1.2;
}

.sm-btn:hover {
  color: black;
  border-width: 0;
}

svg {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  main {
    height: auto;
  }
  #textos-izq {
    align-items: center;
  }
  .textos-titulo1 {
    font-size: 8vw;
  }

  .textos-titulo2 {
    font-size: 12vw;
  }
  #landing-page {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  footer {
    position: relative;
    top: calc(var(--menu-size) + (var(--menu-margin)) / 2);
  }
}
