* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: 'Poppins', sans-serif;

  gap: 50px;
}

.titulo-desc {
  text-align: center;
}

.titulo {
  font-size: 4em;
}

.formulario {
  width: 100%;
}

#miFormulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.aut-img {
  display: flex;
  gap: 15px;
}

.item{
  display: flex;
  flex-direction: column;
  width: 100%;
}

textarea {
  display: inline-block;
  height: 200px;
  resize: none;
  scrollbar-gutter: stable both-edges;
}

#blog-lista {
  max-width: 800px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  list-style-type: none;
  gap: 10px;

  overflow: hidden;

  border-radius: 25px;
  box-shadow: 4px 4px 10px rgb(88, 96, 109);
  width: 100%;
}


.img-container {
  display: flex;
  width: 100%; /* Ancho deseado para el contenedor */
  height: 400px; /* Altura deseada para recortar la imagen */
  overflow: hidden; /* Recorta el contenido que se desborda del contenedor */
}

.blog-info-container{
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  gap: 15px;
}

.blog-titulo {
  line-height: 1em;
  font-size: 3em;
}

.blog-fecha {
  color: rgb(131, 131, 131);
}

img { 
  width: 100%;/* La imagen se ajustará al ancho del contenedor */
  height: 400px; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
  object-fit: cover; /* La imagen se recortará para llenar completamente el contenedor */
}