:root {
  --color-rojo: rgb(129, 0, 17);
  --color-azul: rgb(0, 67, 129);
  --color-verde: rgb(0, 129, 50);
  --color-amarillo: rgb(161, 112, 6);
  --color-rosa: rgb(161, 6, 109);
  --color-naranja: rgb(161, 68, 6);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /*scrollbar-gutter: stable both-edges;*/
}

#background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(112, 71, 136, 1) 0%,
    rgb(255, 213, 135) 100%
  );
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
  padding: 20px;
}

#miembros {
  position: relative;
  top: calc(var(--menu-size) + (var(--menu-margin)) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 25px;
  width: 100%;
  height: calc(98vh - (var(--menu-size) + (var(--menu-margin))));

  max-width: 1000px;
  gap: 50px;
  z-index: 999;
  background-color: white;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}

.titulo-desc {
  text-align: center;
}

.titulo {
  font-size: 4em;
}

.miembros-list {
  width: 100%;
}

#mem-lista {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 20px;
  list-style: none;
}

.mem-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  overflow-wrap: anywhere;
  background-color: antiquewhite;
  box-shadow: 0px 0px rgb(156, 74, 6);
  border-radius: 20px;
  padding: 20px;
  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mem-item:hover {
  box-shadow: 10px 10px rgb(156, 74, 6);
}

.img-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.mem-info-container {
  width: 100%;
  text-align: center;
  padding: 0px 20px;
  border-radius: 15px;
}

#member-info {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 4, 0, 0.555);
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#member-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  min-height: 400px;
}

#member-info .info-mem {
  display: flex;
  flex-direction: column;
  opacity: 100%;
  padding: 50px;
  width: 100%;
  height: 400px;
  max-width: 1000px;
  gap: 5px;
}

.info-local {
  display: flex;
  font-weight: 600;
  gap: 10px;
}

.img-mem {
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mem img {
  width: 250px;
  border-radius: 20px;
}

.info-nombre {
  width: 50%;
  font-size: 3em;
  line-height: 1em;
}

#member-info.active {
  opacity: 1;
  pointer-events: auto;
}

.roles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.roles-overlay {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.rol {
  color: gray;
  border: 2px solid black;
  border-radius: 25px;
}

.rol-overlay {
  color: gray;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0px 10px;
  width: fit-content;
}

.rojo {
  color: var(--color-rojo);
  border-color: var(--color-rojo);
}

.azul {
  color: var(--color-azul);
  border-color: var(--color-azul);
}

.verde {
  color: var(--color-verde);
  border-color: var(--color-verde);
}

.amarillo {
  color: var(--color-amarillo);
  border-color: var(--color-amarillo);
}

.rosa {
  color: var(--color-rosa);
  border-color: var(--color-rosa);
}

.naranja {
  color: var(--color-naranja);
  border-color: var(--color-naranja);
}

::-webkit-scrollbar-track {
  background: red;
}